main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}
